* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  outline: none;
  border: none;
}
body {
  height: 100vh;
  max-width: 100%;
  font-family: var(--font-family-poppins);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

:root {
  --black: rgba(0, 0, 0, 1);
  --dim-black: rgba(30, 32, 44, 1);
  --light-black: rgba(35, 43, 59, 1);
  --dim-white: rgba(248, 248, 255, 1);
  --yellow: rgba(252, 211, 65, 1);
  --pink: rgba(255, 0, 122, 1);
  --white: rgba(255, 255, 255, 1);

  --btn1-background: #f8f8ff;
  --btn1-box-shadow: 0px 5px 5px rgba(253, 0, 211, 0.1);
  --btn1-border-radius: 30px;

  --btn2-background: #ff007a;
  --btn2-box-shadow: 0px 10px 20px rgba(255, 0, 122, 0.1);
  --btn2-border-radius: 30px;

  --hero-text-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 10px 20px 5px var(--dim-black);

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all 400ms ease;

  --font-family-poppins: "Poppins";
  --font-family-roboto: "Roboto";

  /* Font size (covert to rem later) */
  --font-size-xs: 14.8px;
  --font-size-s: 16px;
  --font-size-m: 22px;
  --font-size-l: 28px;
  --font-size-xl: 36px;
  --font-size-xxl: 40px;
}

.container {
  width: 100%;
  padding: 0 39px;
  margin: 0 auto;
}
/* ................ NAVBAR ........... */

.nav__container {
  border-bottom: 1px solid var(--black);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: var(--white);
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  width: 100%;
}

.logo {
  display: flex;
  flex-direction: column;
  letter-spacing: 1.5px;
  margin-top: -1px;
  line-height: 40px;
  height: 88px;
}

.logo span {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-weight: 700;
}
.logo span:nth-of-type(1) {
  color: var(--black);
}

.logo span:nth-of-type(2) {
  color: var(--pink);
}

.nav__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 97px;
  gap: 24px;
  padding: 0 8.5px;
}

.nav__menu ul {
  list-style: none;
  display: flex;
  gap: 24px;
}

.nav__menu ul li a {
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: var(--font-size-s);
  color: var(--black);
  text-decoration: none;
  letter-spacing: 0.5px;
  position: relative;
}

.nav__menu li a.active::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--pink);
  left: 0;
  bottom: -14px;
}

.nav__menu li a.active {
  color: var(--pink);
}

.nav__menu li a:hover:not(.active) {
  color: var(--pink);
  transition: 0.3s linear;
}

.nav__left {
  display: flex;
  padding: 14px 0;
  margin-left: 10px;
}

.btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 17px 43px;
  background: var(--btn1-background);
  box-shadow: var(--btn1-box-shadow);
  border-radius: var(--btn1-border-radius);
  color: var(--light-black);
  transition: all 400ms ease;
}

.btn2 {
  display: flex;
  align-items: center;
  padding: 17px 36px;
  margin-left: 16px;
  background: var(--pink);
  box-shadow: var(--btn2-box-shadow);
  border-radius: var(--btn2-border-radius);
  color: var(--white);
  transition: all 400ms;
}

.btn2:hover {
  cursor: pointer;
  background: transparent;
  color: rgba(255, 0, 122, 1);
  border: 1px dotted grey;
}

.btn1:hover {
  cursor: pointer;
  background: var(--dim-black);
  color: white;
}

.btn {
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: var(--font-size-s);
}

.nav-line {
  height: 48px;
  background: var(--pink);
}

/* Hero Container */

.hero-container {
  display: flex;
  height: 43rem;
  background: var(--dim-black);
}

.hero-section {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.hero-img {
  position: absolute;
  border-radius: 5px;
  left: 29.75rem;
  top: 0;
  width: 45rem;
  height: 35rem;
}

.hero-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 26rem;
  width: 33rem;
  left: 0px;
  top: 6rem;
  overflow: hidden;

  padding: 0 18px;
  background-color: var(--dim-black);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 10px 20px 5px rgba(30, 32, 44, 0.1);
  border-radius: 5px;
}

.heading {
  display: flex;
  margin-top: 2px;
}

.heading span {
  font-family: var(--font-family-poppins);
  font-weight: 700;
  font-size: var(--font-size-xl);
  color: var(--white);
}

.paragraph {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 1.5rem;
}

.paragraph span .paragraph-head {
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: var(--font-size-m);
  color: var(--white);
}

.paragraph span {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: var(--font-size-s);
  letter-spacing: 0.5px;

  color: var(--white);
}

.paragraph .circle-icon {
  align-self: center;
  width: 22px;
}

.paragraph .hero-btn {
  margin-top: 24px;
  font-family: var(--font-family-poppins);
  font-weight: 600;
  font-size: 14.76px;
  color: var(--white);
  margin-left: 1px;
  box-shadow: 0px 4.61121px 4.61121px rgba(251, 0, 211, 0.1);
}

/* Hero Section Ends */

/* Signup Section Begins */

.signup-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin-top: 3rem;
}

.signup-heading {
  text-align: center;
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-weight: 600;
}

.signup-wrapper {
  display: flex;
  margin-top: 36px;
  gap: 27px;
}

.signup-wrapper > div {
  transition: var(--transition);
  box-shadow: 0 10px 1.5rem rgba(255, 0, 122, 0.1);
}

.sign-img1,
.sign-img2,
.sign-img3 {
  display: flex;

  background-image: url(./images/model/model1.jpg);
  background-position: 50% 50%;
  background-size: cover;
  border: 1px solid black;
  border-radius: 30px;
  overflow: hidden;
  width: 382px;
  height: 331px;
}

.sign-img2 {
  background-image: url(./images/model/model2.jpg);
}

.sign-img3 {
  background-image: url(./images/model/model3.jpg);
}

.signup-wrapper span {
  font-family: var(--font-family-poppins);
  font-weight: 700;
  font-size: var(--font-size-m);
  line-height: 28px;
  color: var(--white);
  margin-top: 230px;
  margin-left: 18px;
}

.sign-up-btn {
  display: flex;
  align-items: center;
  background: var(--pink);
  color: var(--white);
  box-shadow: 0px 10px 20px rgba(255, 0, 122, 0.1);
  height: 60px;
  width: 165px;
  border-radius: 30px;
  padding: 17px 30.5px;
  margin: 0 auto;
  margin-top: 4rem;
  font-weight: 500;
  font-size: var(--font-size-s);
}

/* Join Model Begins */

.join-model-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  padding: 0;
  gap: 35px;
}

.model-heading {
  font-family: var(--font-family-poppins);
  font-weight: 600;
  font-size: var(--font-size-l);
  text-align: center;
}

.model-img {
  background-image: url(./images/model/model-large.jpg);
  background-position: 50% 50%;
  background-size: cover;
  border: 1px solid var(--black);
  height: 408px;
  width: 100%;
}

.overlap-group {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 408px;
  padding: 62px 39px;
}

.model-text {
  line-height: 44px;
  margin-top: 37px;
  text-align: center;
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: var(--white);
}

.model-icon {
  display: flex;
  gap: 102px;
}

.model-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 18px;
  gap: 24px;
  transition: 2s ease;
}

/* .model-icon img {
  height: 24px;
  width: 24px;
  align-self: center;
} */

.model-icon span {
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: var(--font-size-m);
  color: var(--white);
  text-align: center;
}

.model-btn {
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 17px 14px;
  background: var(--pink);
  color: var(--white);
  box-shadow: 0px 10px 20px rgba(255, 0, 122, 0.1);
  border-radius: 30px;
  margin-top: 35px;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: var(--font-size-s);
  letter-spacing: 0.5px;
}

/* Join Model Ends */

/* Featured Model Begins */

.featured-model-container {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  align-items: center;
}

.featured-desc {
  display: flex;
  margin-top: 18px;
}

.featured-desc ul {
  display: flex;
  align-items: center;
  gap: 16px;
}

.featured-desc ul li {
  list-style: none;
  cursor: pointer;
}

.featured-desc ul li.active {
  color: var(--white);
  background: var(--pink);
  padding: 13px;
  box-shadow: var(--btn2-box-shadow);
  border-radius: var(--btn2-border-radius);
}

.featured-desc li:hover:not(.active) {
  color: var(--white);
  background: var(--dim-black);
  transition: 0.3s linear;
  padding: 13px;
  box-shadow: var(--btn2-box-shadow);
  border-radius: var(--btn2-border-radius);
}

.featured-model-slider {
  display: flex;
  margin-right: 7px;
  margin-top: 37px;
  overflow: hidden;
  gap: 24px;
}

.f-slider {
  display: flex;
  flex-direction: column;
  background-image: url(./images/featured/slider1.jpg);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 30px;
  border: 1px solid var(--black);
  overflow: hidden;
  padding: 42px 17px;
  width: 282px;
  height: 331px;
}

.f-slider:nth-child(2) {
  background-image: url(./images/featured/slider2.jpg);
}

.f-slider:nth-child(3) {
  background-image: url(./images/featured/slider3.jpg);
}

.f-slider:nth-child(4) {
  background-image: url(./images/featured/slider4.jpg);
}

.f-2:nth-child(1) {
  background-image: url(./images/featured/slider12.jpg);
}

.f-2:nth-child(2) {
  background-image: url(./images/featured/slider10.jpg);
}

.f-2:nth-child(3) {
  background-image: url(./images/featured/slider8.jpg);
}

.f-2:nth-child(4) {
  background-image: url(./images/featured/slider9.jpg);
}

.f-slider span:nth-of-type(1) {
  font-family: var(--font-family-poppins);
  font-weight: 700;
  font-size: var(--font-size-m);
  text-transform: capitalize;
  color: var(--white);
  line-height: 28px;
  margin-top: 183px;
}

.f-slider span:nth-of-type(2) {
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: var(--font-size-s);
  color: var(--white);
  line-height: 23px;
  margin-top: 12px;
  letter-spacing: 0.5px;
}

.featured-model-btn {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--btn1-background);
  box-shadow: 0px 10px 20px rgba(255, 0, 122, 0.1);
  border-radius: 20px;
  padding: 17px 30.5px;
  cursor: pointer;
  /* padding: 12px 42px; */
}

.featured-model-btn span {
  letter-spacing: 0.5px;
  font-weight: 500;
  font-size: var(--font-size-s);
  color: var(--black);
}

/* Featured Model Ends */

.client-slider {
  display: flex;
  flex-direction: column;
  background-color: var(--dim-black);
  border-radius: 10px;
  width: 289px;
}

.client-img {
  align-self: center;
  height: 100px;
  width: 100px;
  object-fit: cover;
  margin-top: 24px;
}

.client-hading {
  margin-top: 39px;
}

.client-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 28px;
  margin-left: 12px;
}

.client-description span:nth-of-type(1) {
  font-size: var(--font-size-m);
  font-weight: 500;
  color: white;
}

.client-description span:nth-of-type(2) {
  font-size: var(--font-size-s);
  font-weight: 500;
  color: var(--pink);
}

.client-description span:nth-of-type(3) {
  font-size: var(--font-size-s);
  font-weight: 500;
  color: var(--pink);
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-top: 8px;
}

.client-slider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.client-heading {
  margin-top: 2rem;
}

.client-slide {
  display: flex;
  gap: 16px;
  margin-top: 35px;
}

.jobpost-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.job-post-wrapper {
  display: flex;
  gap: 24px;
  margin-top: 30px;
}

.jobs {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  box-shadow: 0px 11px 20px rgba(5, 16, 55, 0.1);
  height: 469px;
  width: 284px;
}

.job-img {
  background-image: url(./images/featured/slider5.jpg);
  background-position: 50% 50%;
  background-size: cover;
  border: 1px solid var(--black);
  border-radius: 20px;
  height: 328px;
  width: 284px;
}

.job-img2 {
  background-image: url(./images/featured/slider6.jpg);
}
.job-img3 {
  background-image: url(./images/featured/slider7.jpg);
}
.job-img4 {
  background-image: url(./images/featured/slider8.jpg);
}

.job-post {
  display: flex;
  flex-direction: column;
  margin-top: 19px;
  padding: 4px;
}

.job-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--yellow);
  border-radius: 20px;
  padding: 4px 8px;
  width: 94px;
  height: 34px;
}

.job-description {
  margin-top: 8px;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-size: var(--font-size-m);
  color: var(--black);
}

/* Commuinty Section Begins */

.comminuity-container {
  margin-top: 3rem;
}
.comminuity-heading {
  text-align: center;
}

/* .community-heading {
  text-align: center;
  color: var(--pink);
  font-size: 22px;
  font-weight: 700;
  text-align: center;
} */

.counter-container {
  display: flex;
  margin-top: 35px;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}

.count {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--dim-black);
  border-radius: 10px;
  overflow: hidden;
  padding: 42px 126px;
}

.count span {
  color: var(--white);
  font-weight: 700;
  font-size: var(--font-size-xl);
  line-height: 44px;
}

.count span:nth-of-type(2) {
  font-weight: 500;
  font-size: var(--font-size-m);
  line-height: 28px;
  margin-top: 4px;
  color: var(--dim-white);
}

/* Community Ends */

/* Download-app section */

.mobile-container {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.mobile-section {
  margin-top: 35px;
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: var(--dim-white);
  box-shadow: 0px 11px 20px rgba(5, 16, 55, 0.1);
  margin-top: 43px;
  width: 100%;
}

.mobile-img {
  width: 530px;
  height: 376px;
}

.mobile-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 45px;
}

.mobile-text span:nth-of-type(1) {
  letter-spacing: 0;
  line-height: 28px;
  text-align: center;
  font-weight: 500;
  font-size: var(--font-size-m);
  color: #1e202c;
}

.mobile-text span:nth-of-type(2) {
  font-weight: 600;
  font-size: var(--font-size-l);
  line-height: 36px;
  color: #ff007a;
}

/* Partners Section Begins */

.partners-container {
  margin-top: 4rem;
}

.partners-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  gap: 20px;
}

.partner-img {
  width: 384px;
  height: 237px;
  background-image: url(./images/partners/Frame\ 10220.png);
  border: 1px solid var(--black);
  background-position: 50% 50%;
  background-size: cover;
}

.partner-img:nth-child(2) {
  background-image: url(./images/partners/Frame\ 10222.png);
}

.partner-img:nth-child(3) {
  background-image: url(./images/partners/Frame\ 10210.png);
}

/* Partners Ends */

/* News Section - Coverted to slides later*/

.lastest-news-container {
  margin-top: 4rem;
}

.news2-img {
  background-image: url(./images/news/news1.jpg);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 5px;
  border: 1px dotted var(--black);
  height: 371px;
  width: 384px;
}

.news2-img:nth-child(2) {
  background-image: url(./images/news/news2.png);
}

.new2-img:nth-child(3) {
  background-image: url(./images/news/news3.jpg);
}

/* News Section Ends */

/* Main News Section Begins */

.news-main {
  display: flex;
}

.news-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
  width: 100%;
}

.news-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.news-heading h2 {
  font-size: var(--font-size-l);
  font-weight: 600;
}

.news-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: wrap;
}

.news-box {
  background-color: #fff6f8;
  border: 1px solid #ececec;
  margin: 20px;
}

.news-img {
  width: 100%;
  height: auto;
}

.news-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.news-text {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.news-text span {
  color: var(--pink);
  font-size: 0.9rem;
}

.news-text .news-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--dim-black);
}

.news-text .news-title:hover {
  color: var(--pink);
}

.news-text p {
  color: #9b9b9b;
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 20px 0px;
}

.news-text a {
  color: #0f0f0f;
}

.news-text a:hover {
  color: var(--pink);
  transition: all ease 0.3s;
}

.news-wrapper-container {
  display: flex;
}

/* Footer Sections */

.footer-container {
  width: 100%;
  background: var(--dim-black);
  margin-top: 39px;
}

.footer-section {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  width: 100%;
  padding-top: 6rem;
}

.footer-logo span:nth-of-type(1) {
  color: var(--white);
}

.footer {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  padding: 0;
}

.footer-logo {
  display: flex;

  flex-direction: column;
}
.footer-logo {
  display: flex;
  flex-direction: column;
  line-height: 36px;
  font-size: var(--font-size-l);
  font-weight: 600px;
}

.footer-section ul li {
  list-style: none;
  padding: 5px;
}

.footer-section ul li a {
  text-decoration: none;
  color: white;
  font-size: var(--font-size-s);
  font-weight: 500;
  letter-spacing: 0.5px;
}

.footer-socials {
  display: flex;
  flex-direction: row;
  margin-top: 109px;
}

.footer-social p {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: var(--dim-white);
  align-items: center;
  line-height: 28px;
  padding-bottom: 13px;
}

.footer-socials a {
  background: var(--btn1-background);
  color: rgba(255, 0, 122, 1);
  padding: 0.7rem;
  border-radius: 50%;
  font-size: 18px;
  transition: var(--transition);
}

.footer-socials a:hover {
  background: transparent;
}

.footer > h2 {
  font-size: 700;
  font-size: var(--font-size-m);
}

.footer span {
  font-size: var(--font-size-m);
  font-weight: 600;
  margin-top: 5px;
}

.footer-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px 10px;
  gap: 16px;
  transition: var(--transition);
}

.footer-heading:hover {
  color: var(--pink);
}

.footer-heading img {
  height: 30px;
  align-self: center;
  justify-self: center;
}

.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  margin-top: 140px;
  border-top: 1px solid var(--pink);
  padding: 15px;
  width: 100%;
}

.f5 {
  justify-content: space-between;
}
