@import url("https://fonts.googleapis.com/css?family=Poppins:700,500,600|Roboto:400");

/* testing Position absolute and flex-box to style the components */
/* The outcome will be in style.css */
:root {
  --black: rgba(0, 0, 0, 1);
  --dim-black: rgba(30, 32, 44, 1);
  --light-black: rgba(35, 43, 59, 1);
  --dim-white: rgba(248, 248, 255, 1);
  --yellow: rgba(252, 211, 65, 1);
  --pink: rgba(255, 0, 122, 1);
  --white: rgba(255, 255, 255, 1);

  --btn1-background: #f8f8ff;
  --btn1-box-shadow: 0px 5px 5px rgba(253, 0, 211, 0.1);
  --btn1-border-radius: 30px;

  --btn2-background: #ff007a;
  --btn2-box-shadow: 0px 10px 20px rgba(255, 0, 122, 0.1);
  --btn2-border-radius: 30px;

  --hero-text-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 10px 20px 5px var(--dim-black);
  --font-size-xs: 14.8px;
  --font-size-s: 16px;
  --font-size-m: 22px;
  --font-size-l: 28x;
  --font-size-xl: 36px;
  --font-size-xxl: 40px;

  --font-family-poppins: "Poppins";
  --font-family-roboto: "Roboto";
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-poppins);
}

.header {
  position: absolute;
  width: 1440px;
  height: 689px;
  background: #1e202c;

  /* align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 4733px;
  max-width: 1447px;
  border: 1px solid salmon; */
}

/* Header - Navigation */

.nav-line {
  position: absolute;
  width: 1441px;
  height: 48px;
  background: var(--pink);
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 97px;
  padding: 0 120px;
  border-bottom: 1px solid var(--black);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid salmon;
  background: var(--white);
}

/* Left */

.nav-left {
  align-items: center;
  display: flex;
  width: 335px;
}

.nav-logo {
  display: flex;
}

.logo {
  letter-spacing: 1.5px;
  margin-top: -1px;
  height: 88px;
  width: 238px;
}

.logo span {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-weight: 700;
  line-height: 44px;
}
.logo span:nth-of-type(1) {
  color: var(--black);
}

.logo span:nth-of-type(2) {
  color: var(--pink);
}

/*Right */
.nav-middle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0;
}

.nav-middle ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 25px;
}
.nav-middle ul {
  width: 491px;
}

.nav-middle ul li a {
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: var(--font-size-s);
  color: var(--black);
  text-decoration: none;
  letter-spacing: 0.5px;
  position: relative;
}

.nav-middle li a.active::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--pink);
  left: 0;
  bottom: -14px;
}

.nav-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 10px;
  border: 1px solid black;
}

.nav-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 16px;
  border: 1px dotted salmon;
}

.btn1 {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 12px 42px;
  gap: 10px;
  background: var(--btn1-background);
  box-shadow: var(--btn1-box-shadow);
  border-radius: var(--btn1-border-radius);
  color: var(--light-black);
}

.btn2 {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 12px 42px;
  gap: 10px;
  background: var(--pink);
  box-shadow: var(--btn2-box-shadow);
  border-radius: var(--btn2-border-radius);
  color: var(--white);
}

.nav-button span {
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: var(--font-size-s);
}

.img {
  width: 31.6px;
  height: 31.6px;
}

.hero-container {
  width: 1440px;
  height: 689px;
  padding-left: 80px;
  padding-right: 118px;
  background-color: rgba(30, 32, 44, 1);
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.hero-section {
  width: 1204px;
  height: 560px;
  position: relative;
}

.hero-text {
  width: 532px;
  height: 428px;
  padding-bottom: 96px;
  padding-left: 18px;
  padding-right: 143px;
  left: 0px;
  top: 102px;
  position: absolute;
  background-color: var(--dim-black);
  box-shadow: 0px 10px 20px 5px rgba(30, 32, 44, 0.1);
  border-radius: 5px;
}

.heading {
  width: 379px;
  padding-left: 8px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.heading h1 {
  font-family: var(--font-family-poppins);
  font-weight: 700;
  font-size: var(--font-size-xl);
  color: var(--white);
}

.paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  width: 312px;
  padding: 0px;
  gap: 24px;
}

.paragraph h2 {
  gap: 8px;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: var(--font-size-m);
  color: var(--white);
}

.paragraph span {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.5px;

  color: var(--white);
}

.paragraph .hero-btn {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 12px 42px;
  margin-top: 24px;
  background: var(--pink);
  color: var(--white);
  width: 142px;
  height: 60px;

  box-shadow: 0px 4.61121px 4.61121px rgba(251, 0, 211, 0.1);
  border-radius: 27.6673px;
}

.paragraph .hero-btn span {
  font-family: var(--font-family-poppins);
  font-weight: 600;
  font-size: 14.76px;
  color: var(--white);
  letter-spacing: 1.38px;
}

.hero-img {
  width: 725px;
  height: 560px;
  left: 476px;
  top: 0px;
  position: absolute;
  border-radius: 8px;
}
